* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}
h1 {
	margin: 0px;
	padding-top: 40px;
}
label {
	display: block;
	font-size: 17px;
	font-weight: bold;
	transition: all 0.2s;
}
.formulario {
	display: grid;
	place-items: center;
	width: 100%;
}
.formulario__campos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 40px;
	row-gap: 50px;
	max-width: 800px;
	width: 90%;
	padding: 40px;
	position: relative;
}
.formulario__grupo--input {
	position: relative;
}
.formulario__input {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	padding: 12px;
	margin-top: 4px;
}
.formulario__input:focus {
	border: 2px solid rgb(110, 110, 247);
	box-shadow: 0px 0px 10px 0px rgb(187, 186, 186);
}
.grupo__submit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.formulario__grupo--input-terminos {
	display: flex;
	gap: 8px;
	margin-top: 8px;
}
.formulario__input--submit {
	width: 250px;
	height: 40px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}
.formulario__msgEnviado,
.formulario__submit-error {
	text-align: center;
}
.formulario__submit-error {
	padding: 8px;
	display: flex;
	gap: 8px;
	background-color: rgb(255, 70, 70);
}

.formulario__input-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	visibility: hidden;
	transition: all 0.2s;
}
.formulario__error {
	margin-top: 8px;
	font-size: 13px;
	position: absolute;
}


/* Transiciones input */
.hiddenElement {
	visibility: hidden;
	transition: all 0.2s;
}

.formulario__grupo--incorrecto .formulario__input {
	border: 2px solid red;
	transition: all 0.2s;
}
.formulario__grupo--incorrecto .formulario__label {
	color: red;
	transition: all 0.2s;
}
.formulario__grupo--incorrecto i {
	visibility: visible;
	color: red;
	transition: all 0.2s;
}


.formulario__grupo--correcto .formulario__input {
	border: 2px solid green;
	transition: all 0.2s;
}
.formulario__grupo--correcto i {
	visibility: visible;
	color: green;
	transition: all 0.2s;
} 


/* Media queries */
@media screen and (max-width: 768px) {
	.formulario__campos {
		grid-template-columns: 1fr;
		padding-top: 20px;
	}
}